*{
    margin: 0;
    padding: 0;
    font-family: 'poppins','sans-serif';
}
.header{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.logo{
    text-decoration: none;
    color:teal;
    font-size: 30px;
    font-weight: bold;
    padding-top: 10px;
    padding-left: 20%;
    margin-right: 35%;
}
.nav-link{
    text-align: right;
    background: red;
    padding: 10px 30px;
    border-bottom-left-radius:18px ;

}
.nav-link ul li{
    list-style: none;
    display: inline;
    padding: 10px;
}
.nav-link ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-link ul li a:hover{
    color: black;
}
.left-sidebar{
    width: 20%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: black;
}
.row{
    padding: 0 10%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    position: relative;
    margin-top: -1%;
}
.left-col{
    flex-basis: 55%;
}
.left-col img{
    width: 80%;
    cursor:pointer;
    margin-top: 20%;
    border-radius: 10002px;
}
.right-col h1{
    margin-bottom: 45%;
    margin-top: 30%;
}
.bt{
    size: 15px;
    color: white;
    background-color: red;
    padding: 5% 6%;
    border-radius: 10px;
    margin-bottom:30%;
}
.bt:hover{
    color:black;
}
.social-media {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10%;
}
.bt1{
    margin: 10px;
    size: 100px;
    border-radius: 5px;
    background-color: blanchedalmond;
    
}
.social-media a:hover{
    color: black;
}