body{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:gray;
}
.nav{
    position: fixed;
    top: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #57C5B6;
    padding: 0.5rem;
}
.nav .lis{
    float: right;
}
li{
    list-style: none;
    display: inline;
}
.nav .lis li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin: 0 2rem 0 0;
}
.nav .lis a{
    text-decoration: none;
    color: #002B5B;
    font-weight: 500;
}
.nav .lis a:hover{
    color: white;
}
.dis{
    margin-top: 8rem;
    margin-left: 5rem;
}
.desc h3{
    font-size: 24px;
}
.desc p{
    width: 30%;
    margin-top: 4rem;
    position: absolute;
    font-size: 20px;
}
.dis h1{
    font-style: italic;
    font-size: 40px;
}

.imgs img{
    width: 400px;
    height: 400px;
    transition: 1s;
    margin-left: 35rem;
}
.mg{
    margin-left: 5rem;
    margin-bottom: 2rem;
}
.mg li{
    display: inline-block;
    font-size: 24px;
    margin-right: 1.5rem;
    background-color: #088395;
    padding: 0.5rem 1.4rem;
    font-weight: 500;
    border-radius: 0.3rem;
}
.mg a:hover{
    color: white;
}
.mg a{
    text-decoration: none;
    color: #070A52;
}
button{
    position: absolute;
    margin-top: -6rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.3rem;
    font-size: 24px;
    background-color: #00235B;
    color: white;
}
button:hover{
    color: #00235B;
    background-color: #AEC2B6;
}