*{
    margin: 0%;
    padding: 0%;
}
body{
    background-color:powderblue;
    margin-top: 18%;
    margin-left: 35%;
}
.container{
    text-align: center;
    text-decoration: none;
    background-color:darkgoldenrod;
    margin-right: 55%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#bt1{
    border-radius: none;
    padding: 5px 6px;
    color: rgb(242, 242, 245);
    background-color:rgb(7, 133, 13);
}
#bt2{
    border-radius: none;
    padding: 5px 6px;
    color: white;
    background-color:green;
}
#bt3{
    border-radius:none;
    padding: 10px 20px;
    color:white;
    background-color:green;
    display: inline-block;
    font-size: 16px;   
}
